/* Stili specifici per la pagina di errore 404 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .error-message {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
  }
  
  .error-message h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  .error-message p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .link-list {
    list-style: none;
    padding: 0;
  }
  
  .link-list li {
    margin-bottom: 10px;
  }
  
  .link-list a {
    text-decoration: underline;
    transition: color 0.3s ease; /* Aggiunta di transizioni */
  }
  .link-list a:link{
    color:#BD5B00;   /*color: var(--linkColor); */
  }

  .link-list a:visited{
    color:#000000;  /* color: var(--visitedLinkColor); */
  }

.link-list a:hover {
  text-decoration: none; /* Rimozione del sottolineato al passaggio del mouse */
}
