/* Stili specifici per la pagina di errore 404 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .error-message {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  .error-message h1 {
    font-size: 250%;
    margin-bottom: 20px;
  }
  
  .error-message p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .link-list {
    list-style: none;
    padding: 0;
  }
  
  .link-list li {
    margin-bottom: 10px;
  }
  
  .link-list a {
    /*color: #007bff; */
    text-decoration: underline;
  }
  .link-list a:link{
    color:rgb(127, 118, 250);   /*color: var(--linkColor); */
  }

  .link-list a:visited{
    color:#000000;  /* color: var(--visitedLinkColor); */
  }
