header {
    padding: 0em;
}

.logo{
    line-height: 2.5em;
    clear: both;
}

#menu{
    background-color: #757575;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    clear: both;
    width: 100%;}

#menu ul{
    font-size: 90%;
}

/*BREADCRUMB*/

#breadcrumb{
    font-size: 90%;
    padding: 0.5em 0em 0.5em 0.8em;
}

/*CATEGORIES*/

#categories{
    padding: 0.5em 1em 0.5em 1em;
    height: 25em;
}

#categories h1{
    font-size: 160%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.categories_Container a{
    background-color: #757575;
    font-size: 150%;
}

.categories_Container a:hover { /*NO HOVER PER MOBILE*/
    transform: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#accessoriImage{
    background-image: none;
}

#pesiLiberiImage{
    background-image: none;
}

#nutrizioneImage{
    background-image: none;
}

#macchinariImage{
    background-image: none;
}

/*BRAND*/

#brand{
    padding: 0.5em;
  }

#brand h2{
    font-size: 130%;
}

#brand_Container{
    padding: 0 1em 0 1em;
    margin: 0em;
}

/*PAGAMENTI*/

#payments{
    padding: 1em;
}

#payments h2{
    font-size: 120%;
    padding-bottom: 0.3em;
}

#Mastercard{
    width: 20%;
}
#Visa{
    width: 20%;
}
#Googlepay{
    width: 20%;
}
#Paypal{
    width: 20%;
}

/*SOCIAL*/

.social_List h2{
    margin-top: 0.5em;
    font-size: 100%;
}

.social_List a{
    margin: 0em 0.5em 2.5em 0.5em;
    padding: 0.5em;
    height: 0.5em;
    width: 0.5em;
}

/* PULSANTE TORNA SU */

#buttonToTop{
    position: fixed;
    font-size: 90%;
    right: 0.5em;
    bottom: 6em;
}

/*FOOTER*/

footer {
    padding: 0.5em 0em 0.5em 0em;
}

#footer_Text{
    margin-bottom: 5em;
}

/*ACCESSORI - PESI LIBERI - NUTRIZIONE - MACCHINARI*/

#products_List{
    padding: 0.5em 0.5em 1.5em 0.5em;
}

#products_List h1{
    font-size: 160%;
}

#products_Container a{
    font-size: 90%;
}

#products_Container li:hover {
    transform: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*PRODOTTI*/

#product_Page {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#product_Page h1 {
    font-size: 160%;
}

#product_Images{
    justify-content: center;
    clear: both;
    width: 100%;
    padding: 0em;
}

#product_Details h2{
    font-size: 140%;
}

#product_Details {
    clear: both;
    width: 100%;
    font-size: 100%;
}

#product_Description h2{
    font-size: 120%;
}

#delivery_Details h2{
    font-size: 120%;
}

#cart_Specs {
    clear: both;
}

#addToCart:hover {
    background-color: #757575;
}

/*CHI SIAMO*/

#chiSiamo_Content{
    width: 100%;
    margin-bottom: 0.5em;
}

#chiSiamo_Content h1{
    font-size: 150%;
    margin-bottom: 0.5em;
}

#company_Info p{
    padding-left: 8%;
    padding-right: 8%;
}

.members p {
    padding-left: 8%;
    padding-right: 8%;
}

#team_Members h2{
    font-size: 130%;
}

/*FAQ*/

#faq h1{
    font-size: 140%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.type_Questions{
    font-size: 120%;
    margin-left: 0em;
    margin-bottom: 0.5em;
}

.question h2{
    font-weight: bold;
    font-size: 110%;
}

#question_Input {
    padding: 0.5em;
    width: 80%;
}

#addQuestion{
    font-size: 100%;
    padding: 0.5em 1em;
}

/*ACCOUNT*/

#form_Container {
    width: auto;
}

#form_Container h1{
    font-size: 140%;
}

.accountButton{
    padding: 1.5em;
}




