  /******************
   *                *
   *    HOME PAGE   *
   *                *
   ******************/

    html{
    font-family: "Times New Roman", Times, serif;
    font-size:12pt;
    }

    body{
      display: block;
    }
    
    #menu { /* menu è giusto cancellarlo*/
      display: none;
    }

    main {
      margin-left: 0.8cm; /* circa 0.8cm in em considerando 16px di base */
      width: 100%;
      padding: 0.3cm 0 0.5cm 0; /* circa 0.3cm e 0.5cm in em considerando 16px di base */
  }  

     .logo{
      height: 3cm;
      width: auto;
      content: url('images/zeusprint.jpg');
      margin-left: auto;
      margin-right: auto;
      }

    a[href^="/"]:after {
        content: " ( http://tecweb.studenti.math.unipd.it/tcorbu/" attr(href) ") ";
    }

     a[href*="http"]:after{
            content: " ( " attr(href) " )";
     }
    /* Nascondi il pulsante "Torna in cima" durante la stampa */
    #buttonToTop { 
      display: none;
    }
  
    /* Nascondi i link di navigazione durante la stampa */
    .navigationHelp { 
      display: none;
    }
  
    /* Personalizzazione dello stile per il breadcrumb durante la stampa */
    #breadcrumb {
      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 16px;
      padding: 8px;
    }
    #categories h1{
        text-align: center;
        font-size: 200%;
    }
    /* Personalizzazione dello stile per le categorie articoli durante la stampa */
    #categories {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    .categories_Container {
      text-align: center; /* Centra gli elementi */
      padding: 0;
      /*margin-left: 50%;*/
      height: 90%;
    }
    
    .categories_Container a {
      display: inline-block; /* Rende gli elementi blocchi in linea */
      width: 100px; /* Larghezza fissa */
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 16px;
      color: black;
      background-color: white;
      text-align: center; /* Centra il testo all'interno */
    }
    
    
  
    /* Personalizzazione dello stile per i brand durante la stampa */
    #brand {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    #brand_Container{
      display:block;
    }
    #brand_Container a {
      display:block;
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      color: black;
      background-color: white;
      overflow: hidden;
      height: 20px; /* Altezza dei box contenenti le immagini */
    }
  
    /* Personalizzazione dello stile per i pagamenti sicuri durante la stampa */
    #payments {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    #payments h2 {
      margin-bottom: 10px; /* Riduce lo spazio sotto il titolo */
    }
    #payments_Grid {
      display: block;
      margin-top: 0; /* Risolve il problema del float */
    }
    
    #Mastercard,
    #Visa,
    #Googlepay,
    #Paypal {
      display: inline-block; /* Rende gli elementi blocchi in linea */
      width: 100px; /* Larghezza fissa */
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 16px;
      color: black;
      background-color: white;
      text-align: center; /* Centra il testo all'interno */
    }
    
  
    /* Personalizzazione dello stile per i social durante la stampa */
    #social_List {
      /*padding: 20px;
      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 18px;*/
      display:none;
    }

    footer{
        border: 1px solid black;
        margin-top: 0.5cm;
        text-align: center;
    }
    #contacts ul {
      text-align: center;
      list-style: none;
      padding-bottom: 0.5cm;
    }

    #footer_Text p
    {
      margin-bottom: 0.5cm;
    }
  


   /***********************************************************
   *                                                         *
   *    ACCESSORI - PESI LIBERI - NUTRIZIONE - MACCHINARI    *
   *                                                         *
   ***********************************************************/
  
  #products_List h1{
    font-size: 200%;
    text-align: center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
  }
  
  #products_Container {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0 -10px;
  }
    
  #products_Container li{
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 150%;
  }
   
  #products_Container img {
      align-content: center;
      object-fit:cover;
      width: 80%;
      height: 80%;
      margin-bottom: 0.3cm;
  }

  #products_Container a{
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  #products_Container p {
    margin-top: 0;
  }
  
  /******************
   *                *
   *    PRODOTTI   *
   *                *
   ******************/

   #product_Page h1 {
    text-align: center;
    margin-bottom: 0.5cm;
}

#product_Images {
    text-align: center;
}

#product_Images img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 0 10px; /* Aggiunto margine orizzontale tra le immagini */
}


#product_Details {
  float: left; /* Aggiunto float right per posizionare a destra */
  width: 40%;
  margin-top: 0; /* Eliminato il grande margine iniziale */
}

#product_Details h2 {
  font-size: 180%; /* Conversione da 180% di 12px (valore di base) */
  margin-top: 6px; /* Conversione da 0.5em a px */
  margin-bottom: 6px; /* Conversione da 0.5em a px */
}


#product_Specs,
#cart_Specs {
  list-style-type: none;
  font-size: 120%;
  margin-bottom: 6px;
}

.specs_List {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0;
}

#product_Description h2 {
  margin-top: 6px;
  margin-bottom: 6px;
}

#product_Description {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 110%;
}

#delivery_Details h2 {
  margin-bottom: 6px;
}

#delivery_Details {
  font-size: 110%;
}

#delivery_List {
  list-style-type: none;
}

#addToCart{
  display:none;
}


  /******************
   *                *
   *    CHI SIAMO   *
   *                *
   ******************/

.members img{
  display: inline;
    float: left;
    width:100px;
    height:100px;
   /* max-height: 3.3cm;*/
}

  /***********
   *         *
   *   FAQ   *
   *         *
   ***********/

   #ask_Question{
    display:none;
   }

   #formDomanda {
    margin-top: 15%;;
    font-size: 120%; 
    text-align: left; 
}

  #question {
    width: 100%; 
    box-sizing: border-box;
    resize: none; 
}

#formDomanda input[type="submit"] {
  margin-bottom: 2em; 
}
   

   .question h2{
   /*margin-top: 0.2cm;*/
    margin-bottom: 0;
    font-size: 14pt;
   }
   
   .question p{
    margin-top:0;
   }

  /***************
  *              *
  *   CARRELLO   *
  *              *
  ***************/

  body {
    padding-top: 3.5cm;
    position: relative;
  }
  
  h1.logo {
    text-align: center;
    margin-top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  
  #cart_Page h1 {
    /*color: black;*/
    text-align: center;
  }

  #headerCart {
    display:block;
    align-items: center;
    padding: 10px;
  }

  #headerCart li
  {
    list-style: none; /* Rimuove il segno di elenco */
    padding: 0;
  }

  #buy_Now {
    display: none;
  }
  
  #cart_Container {
    padding: 0;
    margin: 0;
  }
  
  #cart_Container li {
    width: 25%;
    float: left;
    margin: 10px;
    padding: 0px;
    height: 100%;
    border: 1px solid black;
    list-style-type: none;
    padding: 0;
  }
  
  #cart_Container img {
    width: 100%;
  }
  
  .product-details {
    font-size: 110%;
    margin: 2%;
  }
  
  .remove-product {
    display: none;
  }

  #order_Details {
    padding: 12px 0;
    margin-top: 18px;
  }

  #order_Details h2 {
    font-size: 120%;
  }

  #delivery_Address {
    margin: 6px;
    width: calc(50% - 12px); /* Metà del container */
    float: left; /* Posizionamento a sinistra */
  }

  #delivery_Payments {
    margin: 6px;
    width: calc(50% - 12px); /* Metà del container */
    float: right; /* Posizionamento a destra */
  }

  #delivery_Address label,
  #delivery_Address input,
  #delivery_Address textarea {
    display: block; /* Visualizza ogni elemento su una nuova riga */
    margin-bottom: 6px; /* Aggiungi spazio tra gli elementi */
  }

  .payment-details {
    display: none;
  }

  .popup {
    display: none;
  }
  
  
  #contacts li[aria-label="email"] a,
  #contacts li[aria-label="telefono"] a {
    color: black;
  }
  
  footer {
    clear: both; /* Posizionare il footer sotto gli elementi float */
  }
  


  /***************
   *             *
   *   ACCOUNT   *
   *             *
   ***************/

   .accountButton{
    display:none;
   }
   #form_Container p{
    display:none;
   }
   input[type="password"]{
    display:none;
   }





   /*******************************************
   *                                         *
   *   ACCOUNT(LOGIN-LOGOUT-REGISTRAZIONE)   *
   *                                         *
   *******************************************/
  

   #form_Container{
    padding: 10px;
    width: 50%;
    margin: 0;
    border: 100%;
  }

  #logout{
    margin-bottom: 10px;
    font-size: 120%;
  }

  #form_Container h2{
    font-size: 200%;  
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;  
  }


  #form_Container p{
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
  }

  .form {
    font-size: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form label{
    width: 90%;
  }
  
  .form input[type="email"],
  .form input[type="nome"],
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="code"]
  .form input[type="number"] {
    width: 90%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
  }