  /******************
   *                *
   *    HOME PAGE   *
   *                *
   ******************/

    html{
    font-family: "Times New Roman", Times, serif;
    font-size:12pt;
    }

    body{
      display: block;
    }
    
    #menu { /* menu è giusto cancellarlo*/
      display: none;
    }

    main {
        margin-left: 0em;
        width: 100%;
        padding: 0.3em 0em 0.5em 0em;
     }

    .logo{ /* fatto,cambiare foto del logo!*/
    height: 3cm;
    width: auto;
    content: url('images/zeusbiancogrigio.jpg');
    margin-left: auto;
    margin-right: auto;
        
    }

    a[href^="/"]:after {
        content: " ( http://tecweb.studenti.math.unipd.it/tcorbu/" attr(href) ") ";
    }

     a[href*="http"]:after{
            content: " ( " attr(href) " )";
     }
    /* Nascondi il pulsante "Torna in cima" durante la stampa */
    #buttonToTop { 
      display: none;
    }
  
    /* Nascondi i link di navigazione durante la stampa */
    .navigationHelp { 
      display: none;
    }
  
    /* Personalizzazione dello stile per il breadcrumb durante la stampa */
    #breadcrumb {
      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 16px;
      padding: 8px;
    }
    #categories h1{
        text-align: center;
        font-size: 200%;
    }
    /* Personalizzazione dello stile per le categorie articoli durante la stampa */
    #categories {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    .categories_Container {
      text-align: center; /* Centra gli elementi */
      padding: 0;
      /*margin-left: 50%;*/
      height: 90%;
    }
    
    .categories_Container a {
      display: inline-block; /* Rende gli elementi blocchi in linea */
      width: 100px; /* Larghezza fissa */
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 16px;
      color: black;
      background-color: white;
      text-align: center; /* Centra il testo all'interno */
    }
    
    
  
    /* Personalizzazione dello stile per i brand durante la stampa */
    #brand {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    #brand_Container{
      display:block;
    }
    #brand_Container a {
      display:block;
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      color: black;
      background-color: white;
      overflow: hidden;
      height: 20px; /* Altezza dei box contenenti le immagini */
    }
  
    /* Personalizzazione dello stile per i pagamenti sicuri durante la stampa */
    #payments {
      padding: 20px;
      background-color: white;
      color: black;
      /*border: 1px solid black;*/
      font-size: 18px;
    }
    #payments h2 {
      margin-bottom: 10px; /* Riduce lo spazio sotto il titolo */
    }
    #payments_Grid {
      display: block;
      margin-top: 0; /* Risolve il problema del float */
    }
    
    #Mastercard,
    #Visa,
    #Googlepay,
    #Paypal {
      display: inline-block; /* Rende gli elementi blocchi in linea */
      width: 100px; /* Larghezza fissa */
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 16px;
      color: black;
      background-color: white;
      text-align: center; /* Centra il testo all'interno */
    }
    
  
    /* Personalizzazione dello stile per i social durante la stampa */
    #social_List {
      /*padding: 20px;
      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 18px;*/
      display:none;
    }

    footer{
        border: 1px solid black;
        margin-top: 0.5cm;
        text-align: center;
    }
    #contacts ul {
      text-align: center;
      list-style: none;
      padding-bottom: 0.5cm;
    }

    #footer_Text
    {
      margin-bottom: 0.5cm;
    }
  


   /***********************************************************
   *                                                         *
   *    ACCESSORI - PESI LIBERI - NUTRIZIONE - MACCHINARI    *
   *                                                         *
   ***********************************************************/
  
  #products_List h1{
    font-size: 200%;
    text-align: center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
  }
  
  #products_Container {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0 -10px;
  }
    
  #products_Container li{
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 150%;
  }
   
  #products_Container img {
      align-content: center;
      object-fit:cover;
      width: 100%;
      height: 80%;
      margin-bottom: 0.3cm;
  }

  #products_Container a{
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  #products_Container p {
    margin-top: 0;
  }
  
  /******************
   *                *
   *    PRODOTTI   *
   *                *
   ******************/

   #product_Page h1 {
    text-align: center;
    margin-bottom: 0.5cm;
}

#product_Images {
    text-align: center;
}

#product_Images img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 0 10px; /* Aggiunto margine orizzontale tra le immagini */
}


#product_Details {
  float: left; /* Aggiunto float right per posizionare a destra */
  width: 40%;
  margin-top: 0; /* Eliminato il grande margine iniziale */
}

#product_Details h2 {
  font-size: 180%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#product_Specs,
#cart_Specs {
  list-style-type: none;
  font-size: 120%;
  margin-bottom: 0.5em;
}

.specs_List {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0;
}

#product_Description h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#product_Description {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 110%;
}

#delivery_Details h2 {
  margin-bottom: 0.5em;
}

#delivery_Details {
  font-size: 110%;
}

#delivery_List {
  list-style-type: none;
}

#addToCart{
  display:none;
}


  /******************
   *                *
   *    CHI SIAMO   *
   *                *
   ******************/

.members img{
  display: inline;
    float: left;
    width:100px;
    height:100px;
   /* max-height: 3.3cm;*/
}

  /***********
   *         *
   *   FAQ   *
   *         *
   ***********/

   #ask_Question{
    display:none;
   }

   .question h2{
   /*margin-top: 0.2cm;*/
    margin-bottom: 0;
    font-size: 14pt;
   }
   
   .question p{
    margin-top:0;
   }

  /***************
  *              *
  *   CARRELLO   *
  *              *
  ***************/



  /***************
   *             *
   *   ACCOUNT   *
   *             *
   ***************/