/* Stili per la pagina del prodotto */
*{
  margin: 0em;
  padding: 0em;
}

  #product_Page {
    padding: 1em;
  }
  
  #product_Page h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #product_Images{
    float: left;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .grid_Image{
    border: 1px solid black;
  }
  

  #product_Images img{
    width: 90%;
    height: 90%;
  }
  
  #product_Details {
    float: left;
    width: 50%;
    height: 100%;
  }

  #product_Details h2{
    font-size: 200%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  #product_Specs {
    list-style-type: none;
    font-size: 130%;

  }

  .specs_List{
    font-weight: bold;
  }
  
  .dropdown {
    margin-bottom: 10px;
  }

  #product_Description{
    margin-bottom: 1em;
    font-size: 110%;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    background-color: #757575; /* var per colore */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-to-cart:hover {
    background-color: #000000;
  }
  
  #delivery_Details h2{
    margin-bottom: 0.5em;
  }

  #delivery_Details {
    font-size: 120%;
  }

  #delivery_List{
    list-style-type: none;
  }
  