  *{
    margin: 0em;
    padding: 0em;
  }

  :root{ /* DA SCEGLIERE */
    --headerBgColor: rgb(0,0,0);
    --headerTextColor: rgb(21, 201, 45);
    --bgColor: rgb(255,255,255);
    --textColor: rgb(0,0,0);
    --footerBgColor: rgb(0,0,0);
    --footerTextColor: rgb(255,255,255);
    --visitedLinkColor: rgb(230,12,83);
    --linkColor: rgb(255,255,255);
    --font-body-family: "Roboto Condensed", sans-serif;
  }

  html{
  font-size: 100%;
  font-family: var(--font-body-family);
  line-height: 1.5em;
  margin: auto;
  }

  /*BODY DA VEDERE*/

  body {
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
  } 

  main {
    flex: 1;
  }
  
  .main-content { /*DA VEDERE*/
    padding: 20px;
  }

  /*HEADER*/

  header {
    background-color: var(--visitedLinkColor);
    padding: 1em;
    padding-top: 0.7em;
  }

  #logo{
    background-image: url('images/WebsiteLogo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 150%;
  }

  header h1 { /*em or %*/
    color:var(--headerTextColor);
    font-size: 2em;
    line-height: 1.5em;
    float:left;
  }

  /*NAVIGAZIONE*/

  .navigationHelp{
    position: absolute;
    text-indent: -999em;
  }

  nav a:link{
    color:var(--linkColor);
  }

  nav a:visited{
    color:yellow;
  }

  #menu a:link{
    color:var(--linkColor);
  }

  #menu a:visited{
    color:yellow;
  }

  #menu{
    float: right;
  }

  #menu ul{
    max-width: 1024px;
    padding: 1em;
    margin: auto;
    list-style-type:none;
    text-align: center;
  }

  #menu ul li{
    display: inline;
    width: 20%;
    margin: 0 0.5em;
  }

  /*BREADCRUMB*/

  #breadcrumb{ /*em or%*/
    background-color: var(--headerTextColor);
    color: var(--bgColor);
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1em;
  }

  #breadcrumb p{
    max-width: 1024px;
  }

  /*PRODUCTS CARDS*/

  #products{
    padding: 1em 1em 1em 3em;
    height: 26em; /*DA VEDERE*/
  }

  #products h1{
    text-align: center;
    font-size: 250%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  .products_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20em; /*DA VEDERE*/
    padding: 0;
    margin: 0 -10px;
  }

  .products_Container a{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    color: rgb(233, 30, 8);
  }
  
  .products_Container a:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  #accessoriImage{
    background-image: url('images/accessoriSfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #pesiLiberiImage{
    background-image: url('images/pesiLiberiSfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #nutrizioneImage{
    background-image: url('images/nutrizioneSfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #macchinariImage{
    background-image: url('images/macchinariSfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /*BRAND*/

  #brand{
    padding: 1em;
  }

  #brand h2{
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 0.5em;
  }

  #brand_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 -10px;
    height: 6em; /*DA VEDERE*/
  }

  #brand_Container a{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex: 1 1 200px;
  }

  #optimumnutritionImage{
    background-image: url('images/OptimumNutrition.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #technogymImage{
    background-image: url('images/Technogym.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*PAGAMENTI*/

  #payments{
    padding:1.5em;
  }

  #payments h3{
    margin-bottom: 0.2em;
    text-align: center;
  }

  #payments_Grid{
    display: grid;
    grid-template-columns: 50px 50px 50px; /*DIMENS SINGOLE GRID*/
    gap: 10px;
    justify-content: center;
    list-style: none;
  }

  .card1{
    background-image: url('images/Mastercard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }
  .card2{
    background-image: url('images/Visa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }
  .card3{
    background-image: url('images/Postepay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }
  .card4{
    background-image: url('images/Googlepay.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }
  .card5{
    background-image: url('images/Paypal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }
  .card6{
    background-image: url('images/AmericanExpress.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-indent: -999em;
  }

  /*SOCIAL*/

  .social_List a{
    border: 1px solid black;
    margin: 0 10px 20px 10px;
    padding: 10px;
    height: 0.8em;
    width: 0.8em;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }

  #instaImage{
    background-image: url('images/instaSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #youtubeImage{
    background-image: url('images/youtubeSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* PULSANTE TORNA SU */

  #buttonToTop{
    position: fixed;
    right: 0.5em;
    bottom: 2.5em;
  }
  
  /*FOOTER*/
  
  footer {
    background-color: #0cf370;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }

  footer h4{
    padding: 0.5em;
  }

  /*BANNER*/

  .banner {
    background-image: url('banner_image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
  }
  
  .banner-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .banner .btn {
    padding: 12px 24px;
    font-size: 1.1em;
    text-decoration: none;
    background-color: #333;
    color: #fff;
  }
  
  .featured-products {
    padding: 50px 20px;
    text-align: center;
  }
  
  .about-us {
    background-color: #ddd;
    padding: 50px 20px;
    text-align: center;
  }
  

  