  /******************
   *                *
   *    HOME PAGE   *
   *                *
   ******************/
  
  *{
    margin: 0em;
    padding: 0em;
  }

  :root{
    --headerBgColor: #757575;
    --headerTextColor: #FFFFFF;
    --bgColor: #FFFFFF;
    --textColor: #000000;
    --footerBgColor: #757575;
    --footerTextColor: #FFFFFF;
    --visitedLinkColor: #000000;
    --linkColor: #FFFFFF;
    --breadcrumbBgColor: #FFFFFF;
    --breadcrumbTextColor: #000000;
    --textCategories: #FFFFFF;
    --textProducts: #000000;
    --font-body-family: "Roboto Condensed", sans-serif;
  }

  html{
  font-size: 100%;
  font-family: var(--font-body-family);
  line-height: 1.5em;
  margin: auto;
  scroll-behavior: smooth;
  }

  /*BODY*/

  body {
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    background-color: var(--bgColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } 

  main {
    flex: 1;
  }

  /*
  .main-content {
    padding: 20px;
  }*/

  /*HEADER*/

  header {
    background-color: var(--headerBgColor);
    padding: 0.5em 1em 0.5em 1em;
  }

  h1.logo{
    background-image: url('images/zeusbiancogrigio.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo {
    color:var(--headerTextColor);
    font-size: 2em; /* dimensioni logo */
    line-height: 2em;
    float:left;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
  }

  /*NAVIGAZIONE*/

  .navigationHelp{
    position: absolute;
    text-indent: -999em;
  }

  nav a:link{
    color: var(--linkColor);
  }

  nav a:visited{
    color: var(--visitedLinkColor);
  }

  #menu a:link{
    color: var(--linkColor);
  }

  #menu a:visited{
    color: var(--visitedLinkColor);
  }

  #menu{
    float: right;
    color: var(--headerTextColor);
  }

  #menu ul{
    max-width: 1024px;
    padding: 1em;
    margin: auto;
    list-style-type:none;
    text-align: center;
    font-size: 120%;
  }

  #menu ul li{
    display: inline;
    width: 20%;
    margin: 0 0.5em;
  }

  /*BREADCRUMB*/

  #breadcrumb{ /*em or%*/
    background-color: var(--breadcrumbBgColor);
    color: var(--breadcrumbTextColor);
    border: 1px solid black;
    font-size: 110%;
    padding: 0.5em 0em 0.5em 1.5em;
  }

  #breadcrumb p{
    max-width: 1024px;
  }

  /*PRODUCTS CARDS*/

  #categories{
    padding: 0.5em 1.5em 2.5em 1.5em;
    height: 28em;
  }

  #categories h1{
    text-align: center;
    font-size: 200%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .categories_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 -10px;
    height: 90%;
  }

  .categories_Container a{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    color: var(--textCategories);
  }
  
  .categories_Container a:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  #accessoriImage{
    background-image: url('images/accessorifatto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #pesiLiberiImage{
    background-image: url('images/pesiliberifatto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #nutrizioneImage{
    background-image: url('images/nutrizionefatto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #macchinariImage{
    background-image: url('images/macchinarifatto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /*BRAND*/

  #brand{
    padding: 1em;
  }

  #brand h2{
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 0.5em;
  }

  #brand_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 4em 0 4em;
    margin: 0 -10px;
    text-indent: -999em;
    
  }

  #brand_Container a{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex: 0 1 100px;
    overflow: hidden;
    height: 5em; /*MODIFICARE QUI PER MODIFICARE LE DIMENSIONI DEI BOX CHE CONTENGONO LE IMMAGINI*/
  }

  #optimumnutritionImage{
    background-image: url('images/OptimumNutrition.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #technogymImage{
    background-image: url('images/Technogym.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #cousinTrestecImage{
    background-image: url('images/cousintrestecImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #baodelongImage{
    background-image: url('images/baodelong.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #adidasImage{
    background-image: url('images/adidas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #myproteinImage{
    background-image: url('images/myprotein.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*PAGAMENTI*/

  #payments{
    padding:1.5em;
  }

  #payments h2{
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 150%;
  }

  #payments_Grid{ /* cambiare grid per mobile e tablet */
    display: grid;
    grid-template-columns: 6% 6% 6%; /*MODIFICARE QUI PER MODIFICARE LE DIMENSIONI DEI BOX CHE CONTENGONO LE IMMAGINI*/
    grid-template-rows: 65% 65% 65%; /*MODIFICARE QUI PER MODIFICARE LE DIMENSIONI DEI BOX CHE CONTENGONO LE IMMAGINI*/
    gap: 10px;
    justify-content: center;
    list-style: none;
    text-indent: -999em;
    margin-bottom: 2em;
  }

  .card1{
    background-image: url('images/Mastercard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  .card2{
    background-image: url('images/Visa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  .card3{
    background-image: url('images/Postepay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  .card4{
    background-image: url('images/Googlepay.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  .card5{
    background-image: url('images/Paypal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  .card6{
    background-image: url('images/AmericanExpress.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }

  /*SOCIAL*/

  .social_List h2{
    font-size: 120%;
    margin-bottom: 0.5em;
  }

  .social_List a{
    border: 1px solid black;
    margin: 0 10px 20px 10px;
    padding: 10px;
    height: 0.8em;
    width: 0.8em;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    text-indent: -999em;
  }

  #instaImage{ /* immagini colorate da mettere */
    background-image: url('images/instaSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #youtubeImage{
    background-image: url('images/youtubeSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #facebookImage{
    background-image: url('images/facebookSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #twitterImage{
    background-image: url('images/twitterSfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* PULSANTE TORNA SU */

  #buttonToTop{
    position: fixed;
    right: 0.5em;
    bottom: 2.5em;
  }
  
  /*FOOTER*/
  
  footer {
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    padding: 1em;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }

  /***********************************************************
   *                                                         *
   *    ACCESSORI - PESI LIBERI - NUTRIZIONE - MACCHINARI    *
   *                                                         *
   ***********************************************************/

  .products_List{
    padding: 0.5em 1.5em 2.5em 1.5em;
  }
  
  .products_List h1{
    font-size: 200%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .products_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 -10px;
  }
    
  .products_Container li{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    list-style-type:none;
    font-size: 150%;
  }

  .products_Container li:hover {
      transform: scale(1.05);
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
   
  .products_Container img {
      align-content: center;
      object-fit:cover;
      width: 100%;
      height: 90%;
      margin-bottom: 0.3em;
  }

  .products_Container a{
    text-decoration: none;
    text-align: center;
    color: var(--textProducts);
  }

  /******************
   *                *
   *    PRODOTTI   *
   *                *
   ******************/

  #product_Page {
    padding: 0.5em 1.5em 2.5em 1.5em;
  }
  
  #product_Page h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  #product_Images{
    float: left;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .grid_Image{
    border: 1px solid black;
  }
  

  #product_Images img{
    width: 90%;
    height: 90%;
  }
  
  #product_Details {
    float: left;
    width: 50%;
    height: 100%;
  }

  #product_Details h2{
    font-size: 180%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  #product_Specs {
    list-style-type: none;
    font-size: 120%;
    margin-bottom: 0.5em;
  }

  .specs_List{
    font-weight: bold;
    text-transform: uppercase;
  }

  #cart_Specs {
    list-style-type: none;
    font-size: 130%;
    margin-bottom: 0.5em;
  }
  
  .cart_List{
    font-weight: bold;
  }

  #product_Description{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 110%;
  }
  
  #addToCart {
    padding: 1em 2em;
    background-color: #757575;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  
  #addToCart:hover {
    background-color: #000000;
  }
  
  #delivery_Details h2{
    margin-bottom: 0.5em;
  }

  #delivery_Details {
    font-size: 110%;
  }

  #delivery_List{
    list-style-type: none;
  }

  /******************
   *                *
   *    CHI SIAMO   *
   *                *
   ******************/
  
  #chiSiamo_Content{
    width: 80%;
    margin: auto;
  }

  #chiSiamo_Content h1{
    font-size: 205%;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  #company_Info {
    padding-bottom: 4em;
  }
  
  #company_Info p{
    font-size: 110%;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
  }

  #team_Members h2{
    text-align: center;
    font-size: 180%;
  }
  
  .members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .members img { /* px usati qui */
    width: 15%;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  
  .members p {
    padding: 1% 15% 3% 15%;
    text-align: center;
  }
  
 #contact_Details{
  border: 1px solid black;
  text-align: center;
  background-color: #757575;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 25%;
  margin-right: 25%;
 }

 #contact_Details h2{
   font-size: 160%;
   margin-bottom: 0.5em;
   padding-top: 0.5em;
 }

  #contact_Details ul {
    list-style: none;
    padding-bottom: 1em;
  }
  
  #contact_Details li {
    margin-bottom: 0.5em;
  }

  #contact_Details iframe{
    padding-bottom: 1em;
  }

  #contact_Details a:link{
    color: var(--linkColor);
  }

  #contact_Details a:visited{
    color: var(--visitedLinkColor);
  }

  #cartina{
    width:100%;
    height:300px; 
    border: 0;
    /*allowfullscreen="" */
    /*loading="lazy"*/
  }
  /***********
   *         *
   *   FAQ   *
   *         *
   ***********/
  
  #faq {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  #faq h1{
    font-size: 200%;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .type_Questions{
    font-size: 160%;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  
  .question{
    margin-bottom: 1.5em;
  }
  
  .question h2{
    font-weight: bold;
    font-size: 140%;
  }

  #ask_Question {
    margin-top: 5em;
    margin-bottom: 2em;
  }

  #ask_Question h2{
    margin-bottom: 1em;

  }

  #question_Input {
    width: 40%;
    padding: 1em;
    margin-right: 1em;
    border: 1px solid #000000;
  }
  
  #addQuestion{
    font-size: 100%;
    padding: 1em 2em;
    background-color: #757575;
    color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
  }
  
  #addQuestion:hover {
    background-color: #000000;
  }