@ -0,0 +1,115 @@
<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>Olympo Fitness</title>
  <meta name="keywords" content="Olympo Fitness, palestra, negozio palestra, pesi liberi , macchinari palestra, macchinari, nutrizione, accessori palestra, home">
  <meta name="author" content="Olympo Fitness">
  <link rel="stylesheet" href="../style.css" media="screen">
  <link rel="stylesheet" href="../mobile.css" media="screen and (max-width: 508px)">
  <link rel="stylesheet" href="../tablet.css" media="screen and (min-width: 509px) and (max-width: 768px)">
  <link rel="stylesheet" href="../print.css" media="print">
</head>
<body>

  <header>
    <nav aria-label="Aiuti alla navigazione">
      <a class="navigationHelp" href="#content">Vai al contenuto</a>
    </nav>

    <h1 class="logo"><span lang="en">Olympo Fitness</span></h1>

    <nav id="menu" aria-label="menù del sito">
      <a class="navigationHelp" href="#content">Salta il menù di navigazione</a>
      <ul>
        <li><span lang="en">Home</span></li>
        <li><a href="areaAdminRisposte.php">Area Risposte</a></li>
        <li><a href="areaAdminAggiungiProdotto.php">Area Prodotti</a></li> <!--forse mettere iconcine per il mobile-->
        <li><a href="chiSiamo.html">Chi Siamo</a></li>
        <li><a href="faq.php"><abbr title="Frequently Asked Questions" lang="en">FAQ</abbr></a></li>
        <li><a href="carrello.php">Carrello</a></li>
        <li><a href="login.php"><span lang="en">Account</span></a></li>
      </ul>
    </nav>
  </header>

  <nav id="breadcrumb" aria-label="Percorso">
    <p>Ti trovi in: <span lang="en">Home</span>
  </nav>

  <main id="content">
<!--sostituire con parte dinamica--> <!--alt vuoti spiegare nella relazione il perchè-->
    <div id="categories"> 
      <h2>Categorie Articoli</h2>

        <ul class="categories_Container">
           <!-- <li><a href="accessori.html"><img src="images/accessorifatto.jpg" alt="">Accessori</a></li> 
            
            <li><a href="pesiLiberi.html"><img src="images/pasiliberifatto2.jpg" alt="">Pesi Liberi</a></li>
      
            <li><a href="nutrizione.html"><img src="images/nutrizionefatto2.png" alt="">Nutrizione</a></li>

            <li><a href="macchine.html"><img src="images/macchinarifatto2.jpg" alt="">Macchinari</a></li>-->
            {categorie}
        </ul>

    </div>

    <div id="brand">
      <h3>I Nostri Brand :</h3>
      <ul id="brand_Container"> <!-- cambiare le dim px ai file delle immagini in modo che siano tutte uguali -->
       <!-- <li><a href="https://www.optimumnutrition.com/en-us"><img src="images/OptimumNutrition.jpg" alt="Optinum Nutrition"></a></li>

        <li><a href="https://www.cousin-trestec.com/en/"><img src="images/cousintrestecImage.png" alt=""></a></li>

        <li><a href="https://www.technogym.com/it-IT"><img src="images/Technogym.jpg" alt=""></a></li>

        <li><a href="http://it.ru-bodystrongfitness.com/"><img src="images/baodelong.jpg" alt=""></a></li>

        <li><a href="https://www.adidas.it/"><img src="images/adidas.jpg" alt=""></a></li>

        <li><a href="https://www.myprotein.it/"><img src="images/myprotein.png" alt=""></a></li>-->
        {brands}
      </ul>
    </div>


    <div id="payments">
      <h3>Pagamenti Sicuri</h3>
        <ul id="payments_Grid">
          <li id="Mastercard"><span lang="en">Mastercard</span></li>
          <li id="Visa">Visa</li>
          <li id="Googlepay"><span lang="en">Googlepay</span></li>
          <li id="Paypal"><span lang="en">Paypal</span></li>
        </ul>
    </div>

    <a href="#" id="buttonToTop">Torna in cima</a>

  </main>

  
  <footer>
    <address id="contacts">
      <h3>Contatti</h3>
      <ul>
        <li><span lang="en">E-Mail</span>: <a href="mailto:tecweb2024@gmail.com">tecweb2024@gmail.com</a></li>
        <li>Telefono: <a href="tel:+123456789">+39 123-456-789</a></li>
        <li>Sede: Via Trieste, 63, 35121 Padova (<abbr title="Padova">PD</abbr>)</li>
    </ul>
    </address>
    <address id="social">
      <h4>Seguici Su</h4>
      <a href="https://www.instagram.com/" id="instaImage"><span lang="en">Instagram</span></a>
  
      <a href="https://www.youtube.com/" id="youtubeImage"><span lang="en">Youtube</span></a>
      
      <a href="https://www.facebook.com/" id="facebookImage"><span lang="en">Facebook</span></a>
  
      <a href="https://www.twitter.com/" id="twitterImage"><span lang="en">Twitter</span></a>
    </address>
    <div id="footer_Text"><p>&copy; 2024 <span lang="en">Olympo Fitness</span>. Tutti i diritti riservati.</p></div> 
  </footer>
</body>
</html>